# dependencies
node_modules/
**/node_modules/

# build output
dist/
build/
**/dist/
**/build/
frontend/dist/

# CDK
infra/cdk.out/
cdk.out/
*.d.ts.map

# env / secrets
.env
.env.*
!.env.example
*.pem
aws-exports.js

# logs
*.log
npm-debug.log*

# os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
